<h1><%= t "forget.reset.title" %></h1>

<p><%= t "forget.reset.message" %></p>
  <%= link_to t("forget.reset.password"), edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p><%= t "forget.reset.ignore" %></p>
<p><%= t "forget.reset.expire" %></p>
