<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: Settings.gravatar.size_list), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    <%= t "microposts.prefix_time" %> <%= time_ago_in_words micropost.created_at %> <%= t "microposts.suffix_time" %>
    <% if current_user? micropost.user %>
      <%= link_to t("microposts.delete.success"), micropost, method: :delete, data: {confirm: t("microposts.delete.confirm")} %>
    <% end %>
  </span>
</li>
